<app-container>
  <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-default">
            <div >
              <div class="panel-heading text-center">
                <h1><strong>Formulario de Encuesta</strong></h1>
              </div>
              <br>
              <br>
              <div class="col-lg-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <strong>Ropa y accesorios (34)</strong>
                  </div>
                  <br>
                  <!-- /.panel-heading -->
                  <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table">
                        <tbody>
                        <tr class="warning">
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA05.anteojos_lentes">anteojos/lentes
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA05.camisa">camisa
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA05.medias">medias
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA05.ropa">ropa
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA05.aros">aros
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA05.campera">campera
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA05.mochila">mochila
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA05.saco">saco
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr class="warning">
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA05.babero">babero
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA05.cartera">cartera
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA05.ojotas">ojotas
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA05.shorts">shorts
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA05.bombacha">bombacha
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA05.cierre">cierre
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA05.pantalon">pantalón
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA05.sombrero">sombrero
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr class="warning">
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA05.botas">botas
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA05.collar">collar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA05.panal">pañal
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA05.vestido">vestido
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA05.boton">botón
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA05.gorra_gorro">gorra/gorro
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA05.pijama">pijama
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA05.zapatilla">zapatilla
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr class="warning">
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA05.bufanda">bufanda
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA05.guantes">guantes
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA05.polera">pollera
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA05.zapato">zapato
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA05.buzo">buzo
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA05.hebilla_gomita">hebilla (de pelo)/gomita
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA05.pullover">pullover
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA05.calzoncillo">calzoncillo
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr class="warning">
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""[(ngModel)]="formA05.malla">malla
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA05.remera">remera
                              </label>
                            </div>
                          </td>

                        </tr>

                        </tbody>
                      </table>
                    </div>
                    <!-- /.table-responsive -->
                  </div>
                  <!-- /.panel-body -->
                </div>
              </div>

              <div class="col-md-1 mb-4">
                <input type="button" value="Siguiente" (click)="updateSurvey()">
              </div>
            </div>

          </div>

        </div>
        <!-- /.col-lg-12 -->
      </div>
      </app-container>




