<app-container>
  <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-default">
            <div >
              <div class="panel-heading text-center">
                <h1><strong>Formulario de Encuesta</strong></h1>
              </div>
              <br>
              <br>
              <div class="col-lg-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <strong>Animales de verdad y de juguete (45)</strong>
                  </div>
                  <br>
                  <!-- /.panel-heading -->
                  <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table">
                        <tbody>
                        <tr class="warning">
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""  [(ngModel)]="formA02.abeja">abeja
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""  [(ngModel)]="formA02.conejo">conejo
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA02.lobo">lobo
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA02.pinguino">pinguino
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""[(ngModel)]="formA02.animal">animal
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""[(ngModel)]="formA02.cucaracha">cucaracha
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""[(ngModel)]="formA02.mariposa">mariposa
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""[(ngModel)]="formA02.pollito">pollito
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr class="warning">
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA02.arana">araña
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""[(ngModel)]="formA02.elefante">elefante
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""[(ngModel)]="formA02.mono">mono
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""[(ngModel)]="formA02.rana">rana
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""[(ngModel)]="formA02.ardilla">ardilla
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""[(ngModel)]="formA02.foca">foca
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""[(ngModel)]="formA02.mosca">mosca
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""[(ngModel)]="formA02.raton_rata">ratón/rata
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr class="warning">
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""[(ngModel)]="formA02.ballena">ballena
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""[(ngModel)]="formA02.gallina">gallina
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""[(ngModel)]="formA02.mosquito">mosquito
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""[(ngModel)]="formA02.sapo">sapo
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""[(ngModel)]="formA02.bicho">bicho
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""[(ngModel)]="formA02.gato">gato
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""[(ngModel)]="formA02.oso">oso
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA02.tigre">tigre
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr class="warning">
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""[(ngModel)]="formA02.burro">burro
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA02.gusano">gusano
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA02.oveja">oveja
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""[(ngModel)]="formA02.tortuga">tortuga
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""[(ngModel)]="formA02.caballo">caballo
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""[(ngModel)]="formA02.hipopotamo">hipopotamo
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""[(ngModel)]="formA02.pajaro">pajaro
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""[(ngModel)]="formA02.vaca">vaca
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr class="warning">
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""[(ngModel)]="formA02.cebra">cebra
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""[(ngModel)]="formA02.hormiga">hormiga
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""[(ngModel)]="formA02.pato">pato
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""[(ngModel)]="formA02.vibora">víbora
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""[(ngModel)]="formA02.chancho">chancho
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""[(ngModel)]="formA02.jirafa">jirafa
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""[(ngModel)]="formA02.pavo">pavo
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""[(ngModel)]="formA02.ciervo_bambi">ciervo/bambi
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr class="warning">
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""[(ngModel)]="formA02.lechuza">lechuza
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""[(ngModel)]="formA02.perro">perro
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""[(ngModel)]="formA02.cocodrilo">cocodrilo
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""[(ngModel)]="formA02.leon">león
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""[(ngModel)]="formA02.pescado_pez">pescado/pez
                              </label>
                            </div>
                          </td>

                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- /.table-responsive -->
                  </div>
                  <!-- /.panel-body -->
                </div>
              </div>

              <div class="col-md-1 mb-4">
                <input type="button" value="Siguiente" (click)="updateSurvey()">
              </div>
            </div>

          </div>

        </div>
        <!-- /.col-lg-12 -->
      </div>
</app-container>
