<app-container>

      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-default">
            <div >
              <div class="panel-heading text-center">
                <h1><strong>Formulario de Encuesta</strong></h1>
              </div>
              <br>
              <br>
              <div class="col-lg-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <strong>Muebles y cuartos (29)</strong>
                  </div>
                  <br>
                  <!-- /.panel-heading -->
                  <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table">
                        <tbody>
                        <tr class="warning">
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA09.banco">banco
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA09.cuna">cuna
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA09.mesa">mesa
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA09.television_tele">televisión/tele
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA09.banadera">bañadera
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA09.ducha">ducha
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA09.mueble">mueble
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA09.ventana">ventana
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr class="warning">
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA09.bano">baño
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA09.escaleras">escaleras
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA09.patio">patio
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA09.biblioteca">biblioteca
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA09.estufa">estufa
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA09.piletaDeLavarManos">pileta de lavar las manos
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA09.cajon">cajón
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA09.habitacion_pieza">habitación/pieza
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr class="warning">
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA09.piso">piso
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA09.cama">cama
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="">heladera
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA09.placard">placard
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA09.cochera_garage">cochera/garage
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA09.horno">horno
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA09.puerta">puerta
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA09.cocina">cocina
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr class="warning">
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA09.inodoro">inodoro
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA09.silla">silla
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA09.computadora_compu">computadora/compu
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA09.lavar">lavarropas
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr class="warning">
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA09.sillon">sillón
                              </label>
                            </div>
                          </td>

                        </tr>

                        </tbody>
                      </table>
                    </div>
                    <!-- /.table-responsive -->
                  </div>
                  <!-- /.panel-body -->
                </div>
              </div>
              <div class="col-md-1 mb-4">
                <input type="button" value="Siguiente" (click)="updateSurvey()">
              </div>
            </div>

          </div>

        </div>
        <!-- /.col-lg-12 -->
      </div>




      </app-container>
