<app-container>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div>
          <div class="panel-heading text-center">
            <h1><strong>Formulario de Encuesta</strong></h1>
          </div>
          <br />
          <br />
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <strong>Pronombres y modificadores (43)</strong>7
                <p>
                  Tu hijo(a) puede decir estas palabras solas, por ejemplo
                  “esta”, o junto con otra palabra como en “dámelo”. Rellená el
                  círculo de la palabra correspondiente si tu hijo(a ) dice
                  algunas de las palabras de la lista. Recordá que no importa si
                  las dice en forma aislada o junto con otra palabra.
                </p>
              </div>
              <br />
              <!-- /.panel-heading -->
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr class="warning">
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.aquel"/>aquel
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.eso"/>eso
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.mi"/>mi
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.suyo"/>suyo
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.aquellos"/>aquellos
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.esos"/>esos
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.mia"/>mía
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.suyos"/>suyos
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr class="warning">
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.aquella"/>aquella
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.esta"/>esta
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.mias"/>mías
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.te"/>te
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.aquellas"/>aquellas
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.estas"/>estas
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.mio"/>mío
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.tu"/>tu
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr class="warning">
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.el"/>él
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.este"/>este
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.mios"/>míos
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.tuya"/>tuya
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.ellos"/>ellos
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.esto"/>esto
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.nosotros"/>nosotros
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.tuyas"/>tuyas
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr class="warning">
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.ella"/>ella
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.estos"/>estos
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.nuestro"/>nuestro
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.tuyo"/>tuyo
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.ellas"/>ellas
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.le"/>le
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.se"/>se
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.tuyos"/>tuyos
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr class="warning">
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.esa"/>esa
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.les"/>les
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.su"/>su
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.vos"/>vos
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.esas"/>esas
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.lo"/>lo
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.suya"/>suya
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr class="warning">
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.yo"/>yo
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.ese"/>ese
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.me"/>me
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA18.suyas"/>suyas
                            </label>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.table-responsive -->
              </div>
              <!-- /.panel-body -->
            </div>
          </div>

          <div class="col-md-1 mb-4">
            <input type="button" value="Siguiente" (click)="updateSurvey()"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- /.col-lg-12 -->
  </div>
</app-container>
