
<app-container>
      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-default">
            <div >
              <div class="panel-heading text-center">
                <h1><strong>Formulario de Encuesta</strong></h1>
              </div>
              <br>
              <br>
              <div class="col-lg-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <strong>Acciones y procesos (verbos) (107)</strong>
                    <p>Marcá los verbos que diga tu hijo(a), aunque los diga en cualquiera de sus formas. Por ejemplo
                      marcá "abir" si dice "abre o "abrió"; o "ir" si dice "va","vamos" o "se fue"</p>
                  </div>
                  <br>
                  <!-- /.panel-heading -->
                  <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table">
                        <tbody>
                        <tr class="warning">
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.abir"/>abrir
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.comer"/>comer(se)
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.ir"/>ir(se)
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.prestar"/>prestar
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.acabar"/>acabar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.comprar"/>comprar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.jugar"/>jugar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.quedarse"/> quedarse
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr class="warning">
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""[(ngModel)]="formA14.acompanar"/>acompañar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.correr"/>correr
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.juntar"/>juntar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.quemar"/>quemar(se)
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.acotarr"/>acostar(se)
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.cortar"/>cortar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.lastimar"/>lastimar(se)
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.querer"/>querer
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr class="warning">
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.agarrar"/>agarrar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.dar"/>dar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.lavar"/>lavar(se)
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.quitar"/>quitar(se)
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.almorzar"/>almorzar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.decir"/>decir
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.leer"/>leer
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.regalar"/>regalar
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr class="warning">
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.andar"/>andar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.dejar"/>dejar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.levantar"/>levantar(se)
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.respirar"/>respirar
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.apagar"/>apagar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.desayunar"/>desayunar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.llevar"/>llevar(se)
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.romper"/>romper
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.apurar"/>apurar(se)
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.dibujar"/>dibujar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.llorar"/>llorar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.saber"/>saber
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.arreglar"/>arreglar(se)
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.doler"/>doler
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.meter"/>meter(se)
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.sacar"/>sacar
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.asustar"/>asustar(se)
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""[(ngModel)]="formA14.dormir"/>dormir(se)
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.mirar"/>mirar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.salir"/>salir(se)
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.atar"/>atar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.empujar"/>empujar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.morder"/>morder
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.saltar"/>saltar
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.ayudar"/>ayudar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.encontrar"/>encontrar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.mostrar"/>mostrar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.saludar"/>saludar
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.bailar"/>bailar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.ensenar"/>enseñar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.mover"/>mover
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.sentar"/>sentar(se)
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.bajar"/>bajar (se)
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.entrar"/>entrar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.nadar"/>nadar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.soplar"/>soplar
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.banar"/>bañar(se)
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.equivocar"/>equivocar(se)
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.oir"/>oír
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.subir"/>subir(se)
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.barrer"/>barrer
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.esconder"/>esconder(se)
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.parar"/>parar(se)
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.tapar"/>tapar
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""  [(ngModel)]="formA14.besar"/>besar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.escribir"/>escribir
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.patear"/>patear
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value=""  [(ngModel)]="formA14.tener"/>tener
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.buscar"/>buscar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.escuchar"/>escuchar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.patinar"/>patinar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.terminar"/>terminar
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.caer"/>caer(se)
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.esperar"/>esperar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.pegar"/>pegar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.tirar"/>tirar
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.callar"/>callar(se)
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.ganar"/>ganar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.peinar"/>peinar(se)
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.tocar"/>tocar
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.caminar"/>caminar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.gritar"/>gritar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.pensar"/>pensar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.tomar"/>tomar(se)
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.cantar"/>cantar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.guardar"/>guardar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.perder"/>perder
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.tener"/>traer(se)
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.cenar"/>cenar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.gustar"/>gustar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.pintar"/>pintar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.venir"/>venir(se)
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.cerrar"/>cerrar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.hablar"/>hablar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.poder"/>poder
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.ver"/>ver(se)
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.chupar"/>chupar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.hacer"/>hacer
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.poner"/>poner(se)
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.volar"/>volar
                              </label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.cocinar"/>cocinar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.hamacar"/>hamacar
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="" [(ngModel)]="formA14.prender"/>prender
                              </label>
                            </div>
                          </td>
                        </tr>

                        </tbody>
                      </table>
                    </div>
                    <!-- /.table-responsive -->
                  </div>
                  <!-- /.panel-body -->
                </div>
              </div>

              <div class="col-md-1 mb-4">
                <input type="button" value="Siguiente" (click)="updateSurvey()">
              </div>
            </div>

          </div>

        </div>
        <!-- /.col-lg-12 -->
      </div>


</app-container>

