<!-- Sidebar -->
<ul class="sidebar navbar-nav">
  <li class="nav-item ">
    <a class="nav-link" [routerLink]="['/home']">
      <i class="fas fa-fw fa-home"></i>
      Inicio
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/mostrar-datos']">
      <i class="fas fa-fw fa-address-card"></i>
      Datos niño/a
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/carga']">
      <i class="fas fa-fw fa-file-upload"></i>
      Cargar Encuesta
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/resultados']">
      <i class="fas fa-fw fa-poll"></i>
      Resultados
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/importar']">
      <i class="fas fa-fw fa-file-upload"></i>
      Importar
    </a>
  </li>
</ul>
