<app-container>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div>
          <div class="panel-heading text-center">
            <h1><strong>Formulario de Encuesta</strong></h1>
          </div>
          <br />
          <br />
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <strong>Locativos (14)</strong>
              </div>
              <br />
              <!-- /.panel-heading -->
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr class="warning">
                        <td>
                          <div class="checkbox">
                            <label>
                              <input
                                type="checkbox"
                                value=""
                                [(ngModel)]="formA22.abajo"
                              />abajo
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input
                                type="checkbox"
                                value=""
                                [(ngModel)]="formA22.afuera"
                              />afuera
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input
                                type="checkbox"
                                value=""
                                [(ngModel)]="formA22.aqui"
                              />aquí
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input
                                type="checkbox"
                                value=""
                                [(ngModel)]="formA22.enfrente"
                              />enfrente
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input
                                type="checkbox"
                                value=""
                                [(ngModel)]="formA22.aca"
                              />acá
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input
                                type="checkbox"
                                value=""
                                [(ngModel)]="formA22.ahi"
                              />ahí
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input
                                type="checkbox"
                                value=""
                                [(ngModel)]="formA22.arriba"
                              />arriba
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input
                                type="checkbox"
                                value=""
                                [(ngModel)]="formA22.lejos"
                              />lejos
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr class="warning">
                        <td>
                          <div class="checkbox">
                            <label>
                              <input
                                type="checkbox"
                                value=""
                                [(ngModel)]="formA22.adelante"
                              />adelante
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input
                                type="checkbox"
                                value=""
                                [(ngModel)]="formA22.alLado"
                              />al lado
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input
                                type="checkbox"
                                value=""
                                [(ngModel)]="formA22.atras"
                              />atrás
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value=""
                              [(ngModel)]="formA22.ade"/>adentro
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input
                                type="checkbox"
                                value=""
                                [(ngModel)]="formA22.alla"
                              />allá
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input
                                type="checkbox"
                                value=""
                                [(ngModel)]="formA22.cerca"
                              />cerca
                            </label>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.table-responsive -->
              </div>
              <!-- /.panel-body -->
            </div>
          </div>
          <div class="col-md-1 mb-4">
           <input type="button" value="Siguiente" (click)="updateSurvey()"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- /.col-lg-12 -->
  </div>
</app-container>
