<app-container>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div>
          <div class="panel-heading text-center">
            <h1><strong>Formulario de Encuesta</strong></h1>
          </div>
          <br />
          <br />
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <strong>Cualidades y atributos (61)</strong>
                <p>
                  Muchas de estas palabras pueden aparecer en masculino, por
                  ejemplo , "bueno", o en femenino, "buena". Rellená el círculo
                  de la palabra correspondiente si tu hijo(a ) la usa en
                  cualquiera de las dos formas.
                </p>
              </div>
              <br />
              <!-- /.panel-heading -->
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr class="warning">
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.alto"/>alto
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.feliz"/>feliz
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.mentiroso"/>mentiroso
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.ruidoso"/>ruidoso
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.amarillo"/>amarillo
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.feo"/>feo
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.miedo_susto"/>miedo/susto
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16seco"/>seco
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr class="warning">
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.asco_asqueroso"/>asco/asqueroso
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.frio"/>frío
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.mojado"/>mojado
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.solo"/>solo
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.azul"/>azul
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.fuerte"/>fuerte
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.mugriento"/>mugriento
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.suave"/>suave
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr class="warning">
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.blanco"/>blanco
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.gordo"/>gordo
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.negro"/>negro
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.sucio"/>sucio
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.bueno"/>bueno
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.grande"/>grande
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.nuevo"/>nuevo
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.tonto_bobo"/>tonto/bobo
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr class="warning">
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.caca_popo"/>caca/popó
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.hambre"/>hambre
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.oscuro"/>oscuro
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.tranquilo"/>tranquilo
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.caliente"/>caliente
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.igual"/>igual
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.peligroso"/>peligroso
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.triste"/>triste
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr class="warning">
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.cansado"/>cansado
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.largo"/>largo
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.pesado"/>pesado
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.chico_chiquitito"/>chico/chiquito
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.lento"/>lento
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.pobre"/>pobre
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.vacio"/>vacío
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr class="warning">
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.despierto"/>despierto
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.limpio"/>limpio
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA17.primero"/>primero
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.verde"/>verde
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.diferente_distinto"/>diferente/
                              distinto
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.lindo"/>lindo
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.rapido"/>rápido
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.viejo"/>viejo
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.dificil"/>difícil
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.loco"/>loco
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.rico"/>rico
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.violeta"/>violeta
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.duro"/>duro
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.lleno"/>lleno
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.rojo"/>rojo
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.enfermo"/>enfermo
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.leche"/>leche
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.malo"/>malo
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.rosa"/>rosa
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.enojado"/>enojado
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.mejor"/>mejor
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="" [(ngModel)]="formA16.roto"/>roto
                            </label>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.table-responsive -->
              </div>
              <!-- /.panel-body -->
            </div>
          </div>

          <div class="col-md-1 mb-4">
            <input type="button" value="Siguiente" (click)="updateSurvey()"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- /.col-lg-12 -->
  </div>
</app-container>
